/calculadora/node_modules
/Modulo02/projeto_do_zero/node_modules
/Modulo02/gitFind/node_modules
/Modulo02/desafio02-github-wiki/node_modules
/Modulo03/ampliando_conhecimento/node_modules
/Modulo03/projeto-clone-DIO/node_modules
/Modulo03/trilha-react-desafio-4-master/node_modules